
.login-container {
    width: 50%;
    height: 50%;
    padding: 20px;
    margin: 20px;
  }
  
  .login {
      display: flex;
      flex-direction: column;
      width: 60%;
      padding: 20px;
      margin: 20px;
  }
  
  .log-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .log-form-container h2{
    font-size: 40px;
    margin-top: 10px;
  }

  .log-form-container p{
    margin-top: 25px;
    font-size: 22px;
  }