
.users {
    margin-bottom: 120px;
  }

  .users h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .filter-add-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; 
  }
  
  .filter-add-user .example-full-width {
    flex: 1;
    margin-right: 10px;
  }
  
  .filter-add-user .add-user-btn {
    color: white;
    text-transform: uppercase;
  }
  
  .mat-elevation-z8 {
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
    width: 100%;
  }
  
  .mat-header-cell {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  .mat-cell {
    padding: 6px; 
    text-align: left;
  }
  
  .mat-row:nth-child(even) {
    background-color: #f2f2f2;
  }

  .mat-row:hover {
    background-color: #d3d3d3;
  }
  
  .mat-paginator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .mat-paginator .mat-paginator-navigation {
    background-color: #007bff;
    color: white;
  }
  
  .mat-paginator .mat-paginator-navigation:hover {
    background-color: #0056b3;
  }
  
  .mat-paginator .mat-select-arrow {
    color: #007bff;
  }
  
  .mat-form-field.mat-focused .mat-form-field-underline {
    background-color: #007bff;
  }
  